@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans';
  font-size: 10px;
}
body {
  background: hsl(275, 100%, 97%);
}
